.BookWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #0D3240;
    border-radius: 10px;
    border: solid 2px #787b7c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 400px;
}

hr {
    width: 100%;
    border: solid 2px #0B4157;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bookCover {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.priceLikes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.price {
    font-size: 24px;
    color: #FE5B4E;
}

.likeCounter {
    display: flex;
    align-items: center;
    gap: 5px;
}

.likeIcon {
    width: 32px;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.infoBoxLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    margin-top: 10px;
}

.infoBoxRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    margin-top: 10px;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #0e3949;
    height: 160px;
    gap: 10px;
    overflow: auto;
    padding: 10px 5px 5px 5px;
}

h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.addComment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 300px;
    margin-top: 4px;
}

.userInput {
    flex: 1;
    height: 32px;
    outline: 0;
    border-bottom: solid 4px #0B4157;
    background-color: #134f65;
    color: #ffffff;
    padding: 4px;
    margin-top: 5px;
}

.commentInput {
    flex: 1;
    height: 32px;
    outline: 0;
    border-bottom: solid 4px #0B4157;
    background-color: #134f65;
    color: #ffffff;
    padding: 4px;
}

.sendIcon {
    width: 32px;
    cursor: pointer;
}

.deleteComment {
    display: flex;
    align-items: center;
    border: solid 1px #787878;
    border-radius: 5px;
    background-color: #ffffff;
    width: 20px;
    cursor: pointer;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}