.BookWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #0820b9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}